#container {

    border: 1px solid rgb(233, 229, 229);
    width: 58%;
    height: 650px;
    margin: auto;
    margin-top: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  #footer {
    width: 800px;
    margin: auto;
  }
  .left-side {
    box-sizing: border-box;
    width: 390px;
    padding: 40px;
    border-left: 9px solid #478bd9;
    border-radius: 8px;
    box-shadow: 4px 4px 10px #a59d9d;
  }
  .mid-hr {
    background-color: #478bd9;
    width: 4px;
    height: 510px;
    margin-top: 60px;
  }
  .right-side {
    box-sizing: border-box;
    width: 418px;
    padding: 70px;
  }
  
  .nav-logo {
    display: flex;
    gap: 140px;
    align-items: center;
  }
  .nav-logo > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-logo > img {
    width: 70px;
    height: 30px;
  }
  .left-side > p {
    font-family: "avenir-heavy";
    font-weight: 700;
    font-size: 24px;
    color: #2e2e2e;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .tId {
    font-family: "Avenir-Light";
    font-size: 10px;
    color: #999999;
  }
  .blue-box {
    border-radius: 10px;
    background-color: #4a90e2;
    text-align: center;
    height: 80px;
    font-family: "Avenir-Medium";
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
    padding-top: 5px;
    margin-top: 200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .blue-box > p {
    width: 250px;
  }
  .right-side > p {
    font-family: "avenir-heavy";
    font-weight: 400;
    font-size: 11px;
    color: #8e8e8e;
  }
  .form {
    font-family: 'Avenir-Book';

    font-weight: 400;
    font-size: 15px;
    color: #8e8e8e;
    padding: 30px;
    height: 340px;
  }
  .form > input {
    height: 40px;
    width: 350px;
    padding-left: 10px;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
  }
  #card-num,
  #date,
  #cvv {
    color: red;
    display: none;
  }
  .mid-two {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .mid-two input {
    width: 157px;
    height: 40px;
  
    padding-left: 10px;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
  }
  .check {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  button {
    width: 100%;
    height: 40px;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: wheat;
    margin-top: 20px;
  }