body {
    font-family: "Fira Sans", sans-serif;
  }
  
  .navbar {
      width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .logo > a > img {
    width: 200px;
  }
  .mid-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cart-logo {
    display: flex;
    flex-direction: row;
  }
  .mid-nav .material-icons-outlined {
    color: red;
    font-size: 20px;
    display: none;
  }
  .cart-logo > div {
    width: 90px;
    height: 20px;
    padding-left: 4px;
  }
  #cart1 {
    display: block;
  }
  .cart-bottom {
    width: 300px;
  }
  .cart-bottom > a {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: red;
    text-decoration: none;
  }
  .cart-bottom > a:nth-child(1) {
    font-weight: 700;
  }
  #in_cart{
    font-weight:normal;
    width: 80%;
    justify-content:center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    margin-left: 240px;
  }
  #user-name {
    width: 150px;
  }
  .right-nav > span {
    width: 30px;
  }
  .hr {
    border: 1px solid rgb(223, 215, 215);
  }
  
  .footer {
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #efefef;
  }
  
  #container{
    width: 80%;
    margin: auto;
  }
  
  #container > div {
    display: inline-block;
  }
  
  #box1 {
    width: 65%;
    height: fit-content;
    vertical-align: top;
    margin-right: 2%;
  }
  
  #pin {
    padding-left: 5%;
    height: 40px;
    background-color: #f5f5f5;
    font-weight: 600;
    color: grey;
    padding-top: 7px;
  }
  
  #pincode {
    height: 60%;
  }
  
  #pin > button {
    height: 72%;
    width: 50px;
    background-color: black;
    color: whitesmoke;
    border: none;
  }
  
  input button {
    border: 1px solid black;
  }
  
  label {
    font-size: 12px;
  }
  
  .item {
    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr 1fr;
    grid-template-rows: 160px;
    border: 1px solid lightgray;
  }
  
  .item > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .pics {
    width: 80%;
  }
  
  .item > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
    font-weight: bold;
  }
  
  .quan {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .countBox {
    text-align: center;
    padding-top: 5px;
    width: 36px;
    height: 25px;
    border: 1px solid black;
  }
  
  .plus {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 50px;
    margin-right: 70px;
  }
  
  .wish {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -88px;
  }
  
  .del {
    width: 16%;
  }
  
  #box1-last > img {
    margin-top: 20px;
    width: 50px;
    padding-left: 20px;
  }
  
  #qty {
    text-align: center;
    padding-top: 5px;
    width: 36px;
    height: 25px;
    border: 1px solid black;
  }
  
  #box2 {
    width: 30%;
    height: 500px;
    display: grid;
    color: #424242;
    grid-template-columns: 1fr 1fr;
  }
  
  #box2 > div:nth-child(1) {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    color: grey;
    border: 1px solid lightgray;
  }
  
  #box2 > div:nth-child(1) img {
    height: 80%;
    margin: 0px 10px 0px 13px;
  }
  
  #box2 > div:nth-child(2) {
    padding: 11px;
    margin-top: 10px;
    border: 1px solid grey;
  }
  
  .value > div {
    display: flex;
    justify-content: space-between;
  }
  
  .value p {
    margin: 3px 0;
    font-size: 13px;
    color: gray;
  }
  
  .value > h5 {
    margin: -18px 0 0 205px;
  }
  
  #place_order {
    margin-top: 15px;
    height: 40px;
    width: 100%;
    background-color: #f16521;
    color: white;
    font-size: larger;
    border: none;
    outline: none;
  }
  
  #last {
    margin-top: 50px;
  }