h6{
    font-size: 13px;
    font-family: Manrope,sans-serif;
    color: #121212;
}
p{
    font-size:13px ;
    font-family: Manrope,sans-serif;
    color: #848484;
 }
 h2{
     text-align: center;
 }
 img{
     width: 100%;
     height: 470px;
 }

