#disc
{
   display:flex;
   flex-direction: row;
   height: 50px;
   background-color: #121212;
   color: #FFFFFF;
   justify-content: space-around;
   font-family: Manrope,sans-serif;
   font-size: 1.1rem; 
}
#disc>div:nth-child(1)
{
    text-align: start;
    /* margin: 15px; */
    padding: 15px;
    width: 50%;
}
#disc>div:nth-child(2)
{
    text-align: end;
    /* margin: 15px; */
    padding: 15px;
    width: 40%;
}
#shubh,#tc
{
    text-decoration: none;
    color: #FF7035;
    
}
#pin
{
    color: #121212;
}
#nav1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f5f5f5;
    color: #D8D8D8;
    height: 50px;
    font-family: Manrope,sans-serif;
   text-decoration: none;
   line-height: 19px;
}

#nav11,#nav12
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    font-family: Manrope,sans-serif;
    font-size: 1.1rem; 
   text-decoration: none;
}
#nav12
{
    justify-content: space-around;
}
#nav11>a,#nav12>a
{
    color: #848484;
    
}
#nav11
{
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding: 10px;
}
a{
    color: #D8D8D8;
    background-color: transparent;
    text-decoration: none;
}
#nav12
{
    width: 20%;
    margin: auto;
    padding: 10px;
    font-size: 0.900rem;

}
#navMain
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 20px;
    height: 40px;
    margin: auto;
    width: 90%;
}
#navMain1
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    height: 40px;  
}
#input
{
    width: 55%;
    height: 100%;
   
}
#input>input
{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: none;
    font-family: Manrope,sans-serif;
    font-size: 1.1rem; 
}

img{
    height: 100%;
    
}
#navMain1
{
    justify-content: space-between;
    width: 15%;
    height: 100%;
    padding: 0px;

}
#type
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10px;
    width: 90%;
    /* font-size: 0.913rem; */
    color: #121212;
    font-weight: 540;
    margin: auto;
    padding: 10px;
    font-size: 1.1rem;
    
}
#gif
{
    display: grid;
    grid-template-columns: 1fr 0.30fr;
    width: 90%;
    margin: auto;
    gap:20px;
}

.mySlides {
  display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #E7E7E7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dot
{
    display: block;
    position: absolute;
    bottom:-50px;
    left: 35%;      
}
.active, .dot:hover {
  background-color: #4A4A4A;
}

#gif>div>img
{
    width: 100%;
}
#row
{
    width: 90%;
    margin: auto;
}
#row>img
{
    width: 100%;
    margin-top: 40px;
    height: 100%;
}
h5{
    font-size: 2.3rem;
    line-height: 32px;
    font-stretch: normal;
    font-family: 'Playfair Display',serif;
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 100px;
}
#room,#room1,#room2
{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    color: #121212;
    font-family: Manrope,sans-serif;
    letter-spacing: 0;
    gap:10px;
    font-size: 1.25rem;
}
#room>div>img,#room1>div>img,#room2>div>img,#main>div>img,#review>div>img,#topB>div>img
{
    width: 100%;
    height: 100%;
}
#main
{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(6, 0.40fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    margin-top: 100px;
    gap:10px;
    margin: auto;
    grid-template-areas: 
    " a a b  b c d"
    " a  a b b  e f";    
}
#main>div
{
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.a
{
    grid-area: a;
}
.b
{
    grid-area: b;
}
.c
{
    grid-area: c;
}
.d
{
    grid-area: d;
}
.e
{
    grid-area: e;
    
}
#Style
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    gap:10px;
    
}
#Style>div>a
{
    text-decoration: none;
    color: #FF7035;
}
#Style>div
{
    box-sizing: border-box;
    width: 25%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#Style>div>img
{
    display: block;
    width: 100%;
    height: 80%;
}
#stylemain
{
    background-color: #E9F1F5;
    height: 400px;
    box-sizing: border-box;
    text-align: start;
    margin-top: 0px;

}
#Style>div>h1
{
    text-align: start;
    font-size: 2.1rem;
    font-stretch: normal;
    font-family: 'Playfair Display',serif;
    font-weight: bold;
    color: #121212;
    
}
#Style>div>p,#Style>div>a
{
    font-size: 1.25rem;
    letter-spacing: 0;
    box-sizing: border-box;
   
}
#Style>div:nth-child(1)
{
   text-align: start;
   line-height: 30px;
}
#Style>div:nth-child(1)>p,#Style>div:nth-child(1)>a
{
    font-size: 1.7rem;
}
.top
{
    margin-bottom: 10px;
    margin-top: 30px;
}
.bot
{
    margin-bottom: 10px;
}
#banner
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    gap:20px;
}
#banner>div>img
{
    width: 100%;
}
#fromStore
{
    background: #f6f6f4 url('https://ii1.pepperfry.com/images/hp_more_from_store_bg.jpg') no-repeat right bottom;
    background-size: contain;
    width: 100%;
    margin: auto;
    height: 600px;
}
#fromStore>h5
{
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 6%;
}
#cats
{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: spa-start;
    margin-left: 2%;

}
#cats>div
{
    box-sizing: border-box; 
    font-size:500;
    line-height: 7px;
    margin-left: 50px;
}
.top1
{
    margin-bottom: 20px;
    margin-top: 170px; 
}
.bot1
{
    margin-bottom: 30px;
    margin-top: 30px;
}
#room1>div>h3,#room2>div>h3,#Style>div>h2
{
    margin-bottom: -15px;
}
#room1>div>p,#room2>div>p,#Style>div>p
{
    color: #848484;
}
#cats>div>p,#cats>div>div>p
{
    color: #121212;
    font-size: .85rem;
}
#cats>div>h3,#cats>div>div>h3
{
    font-size: 0.95rem;
    font-weight: 700;
    color: #323232;
    margin-bottom: 20px;
}
#review,#topB
{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    gap:10px;
    color: #121212;
    font-family: Manrope,sans-serif;
   
}
#review>div>img+p
{
    letter-spacing: 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: #121212;
    letter-spacing: 0;
    margin-bottom: 20px;
}
#review>div>:nth-child(3)
{
   
    font-weight: 600;
    color: #121212;
    font-size: .875rem;
 
}
#review>div>:nth-child(4)
{
    font-size: .875rem;
    font-weight: 500;
    color:#848484;
    font-size: .875rem;
    margin-top: -10px;
   
}
#top1+#room>div>img+p{

    font-weight: 600;
    color: #121212;
    font-size: .875rem;

}
