body{
    /* font-size: 1rem; */
    /* font-weight: 600; */
    font-family: Manrope,sans-serif;
}
.zoom {
    zoom: 0.75; /* all browsers */
   -moz-transform: scale(0.75); /* Firefox */
}

#container1{
    display: flex;
    height: 1080px;
    border-top: 0.25px solid rgb(202, 194, 194);
    border-bottom: 0.25px solid rgb(207, 185, 185);
}

#right{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,422px);
    /* margin-left: 26%; */
    overflow: scroll;
    height: 1080px;
    overflow-x: hidden;
    

}
#right::-webkit-scrollbar { 
    display: none;
}

#viewImg{
    width:405px;
    height:445px;
}

#prDiv{
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
}
#prc{
    color: #ff7035;
    font-size: 17px;
    font-weight: 900;
    
}
#dsprice{
    padding-top: 2px;
    text-decoration: line-through;
    color: gray;
}
#right>div{
    margin-bottom: 20px;
    line-height: 5px;
}
#brd{
    font-size: 14px;
    color: #848484;
}
#dsperc{
    color: rgb(13, 172, 13);
}

#left{
    width: 25%;
    padding-left: 100px;
    box-sizing: border-box;
    line-height: 30px;
    border-right: 0.25px solid rgb(202, 194, 194);
    margin-right: 10px;
    text-shadow: 0.25px 0.25px #080808;
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: white;
}
#hrhorizontal{
color: gray;
opacity: 50%;
}
.onhoverColor:hover{
    cursor: pointer;
    color: #ff7035;
}

#brandSort{
    overflow: scroll;
    height: 330px;
    overflow-x: hidden;
}

@media only screen and (min-width: 350px) and (max-width:1250px) {
    #right{
        display: grid;
        grid-template-columns: repeat(2,422px);
        padding-bottom: 20px;
       
    } 
 }
@media only screen and (min-width: 1126px) and (max-width:1250px) {
    #right{
        display: grid;
        grid-template-columns: repeat(2,350px);
        gap:100px;
        justify-content:space-between;
        box-sizing: border-box;
       
    } 
 }
 @media only screen and (min-width:50px) and (max-width:1125px) {
    #right{
        display: grid;
        grid-template-columns: repeat(1,200px);
        width: 1125px;
        box-sizing: border-box;
    } 
 }